<div class="about-main">
  <h2>CTCとは</h2>
  <p>
    Connecting with TECH::CAMPの略で、TECH::CAMP生が繋がれるSNSサービスです。
  </p>
  <p>
    教室で見かけた気になるTECH::CAMP生を探したり学習報告を投稿したりして色んなユーザーと楽しくコミュニケーションできるきっかけを作れます。
  </p>
</div>