<div class="about-main">
  <h2>CTCとは</h2>
  <p>
    TECH::CAMP生が繋がれるSNSサービスです。
    教室で見かけた気になるTECH::CAMP生を探したり学習報告を投稿したりして色んなユーザーと楽しくコミュニケーションできるきっかけを作れます。
  </p>
  <%# 写真後で貼る %>




  
  <img class="" src="">
</div>